//- master component
.frame

  header.mainHeader
    .title Wanna be a millionaire?
    .mainBar
      #mainMenu
      #greetings
      
  .content-wrapper

  footer
    a(href="https://github.com/eonae/millionaire" target="_blank").
      copyright app by Eonae &#xa9