#modal-wrapper
  .modal-overlay
  .modal-window.modal-window-sm.input-box
    .message #{message}
    input(type="text" placeholder=`${placeholder}`)#modal-input
    .buttons
      button(type="button")#positive #{buttons.positive}
      button(type="button")#negative #{buttons.negative}