.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;

  .message {
    padding: 5%;
    text-align: center;
    
  }
  .buttons {
    @include flex(center, center);

    button {
      @extend .game-btn;
      padding: 10px 30px;
      margin: 5%;
      margin-top: 1%;
    }
  }
}

.modal-window-lg {
  width: 80%;
  height: 80%;
}

.modal-window-md {
  width: 60%;
  height: 60%;
}
.modal-window-sm {
  min-width: 40%;
}