.content-wrapper {
  margin-top: 2vh;
  justify-content: space-between;
  margin-bottom: 1vh;
}
.wrapper {
  @include flex(default, default, column);
  width: 78%;

  @media (max-width: $small) {
    width: 75%;
  }
}

.question-text {
  @include font(3vw, 800, #222);
  position: relative;
  border: 2px solid #222;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 2vh 2vw;
  flex-grow: 1;
  overflow: hidden;

  @media (max-width: $small) {
    font-size: 3vh;
  }
}

.ladder {
  @include flex(space-between, stretch, column);
  width: 20%;
  height: 100%;
  box-sizing: border-box;

  @media (max-width: $medium) {
    // width: 
  }
  @media (max-width: $small) {
    width: 23%;
  }

  & > div {
    font-size: 2.5vh;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
    padding: 1vh 2vw;
    border: 1px solid #222;

    @media (max-width: $medium) {
      font-size: 2vh;
    }
  }
}

.options {
  width: 100%;
  margin-top: 2vh;

  .options-row {
    @include flex(space-between, center);
    margin-bottom: 1vh;

    @media (max-width: $medium) {
      flex-direction: column;
    }

    &:last-child {
      margin: 0;
      @media (max-width: $medium) {
        
      }
    }
  }

  button {

    $lgH: 45px;
    $medH: 40px;
    $smH: 28px;

    @extend .game-btn;
    box-sizing: border-box;
    width: 49%;
    height: $lgH;
    //margin-bottom: 1vh;
    position: relative;
    padding: 0;
    border-radius: 20px;

    @media (max-width: $medium) {
      width: 100%;
      height: $medH;
    }

    @media (max-height: 400px) {
      height: $smH;
    }
    &:first-child {
      @media (max-width: $medium) {
        margin-bottom: .6vh;
      }
    }



    .letterFrame {
      box-sizing: border-box;
      position: absolute;
      height: $lgH;
      width: $lgH;
      transform: scale(0.95) rotateZ(45deg);
      top: -2px;
      left: -5px;
      background: white;
      border-radius: 40%;
      border: 2px solid #222;
      @include flex(center, center);

      @media (max-width: $medium) {
        width: $medH;
        height: $medH;
      }
  
      @media (max-height: 400px) {
        width: $smH;
        height: $smH;
      }

      .letter {
        line-height: 1em;
        transform: rotateZ(-45deg);
        @include font(20px, 700, #222);

        @media (max-height: 400px) {
          font-size: 16px;
        }
      }
    }



  }
}

