$lg: 1040px;
$medium: 760px;
$small: 480px;

body {
  margin: 0;
  padding: 0;
  background-size: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  .hidden {
      display: none;
  }
}

%container {
  // max-width: 1140px;
  margin: 0;
  // padding: 10px 10%;
}

.game-btn {
  @include notLikeLink();
  color: #242412;
  @include font(15px, 700);
  padding: 20px 20px;
  border: 2px solid #242412;
  border-radius: 10px;
  background: #f6f8f9;
  background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 23%,#e5ebee 23%,#d7dee3 62%,#f5f7f9 100%);
  cursor: pointer;
  
  &:hover {
    // background: green;
    background: linear-gradient(to bottom, #f8f9fa 0%,#f7f9fb 100%);
  }
}



.content-wrapper {
  @extend %container;
  @include flex(default, default);
  width: 100%;
  flex-grow: 1;
}

.frame {
  @include flex(default, center, column);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 320px;
  min-width: 320px;
  padding: 2vh 2vh 1vh;
  box-sizing: border-box;
  
  //min-height: 400px;
}