.introScreen {
  @extend %container;
  display: flex;

  #newGame {
      display: block;
      font-size: 50px;
      padding: 20px 50px;
      background: none;
      border: 2px solid white;
      color: white;
      margin: 23% auto 0 auto;
      outline: none;

      &:hover {
          color: #114EAD;
          border-color:#114EAD;
      }
  }
}