.confirm-box {
  @include verticalGap(8%);
  min-width: 250px;

  .message {
    padding: 0 5%;
    text-align: center;
  }
  .buttons {
    @include flex(center, center);
  
    button {
      @extend .game-btn;
      padding: 3% 7%;
      margin-left: 5%;
      &:last-child {
        margin-right: 5%;
      }
    }
  }
}
