#modal-wrapper
  .modal-overlay
  .modal-window.confirm-box
    .message #{message}
    .buttons
      button(type="button")#positive #{buttons.positive}
      button(type="button")#negative #{buttons.negative}